{{!-- Reminder- this is a partial! Handlebars will render this code for as many '{{#each examples}}' that exist!
{{!-- Partials are invoked in /views/ by using the syntax: {{> partial-file-name}} --}}


        <div class="job-listing">
            <h2 class="job-title">{{title}}</h2>
            <p class="job-company">{{company}}</p>
            <p class="job-location">{{location}}</p>
            <p class="job-salary">{{salary_min}} - {{salary_max}}</p>
        </div>